name: Selective Build

on:
  pull_request:
    branches:
      - main
      - dev
      - staging

env:
  NEXT_TELEMETRY_DISABLED: '1'

jobs:
  detect-affected:
    runs-on: ubuntu-latest
    outputs:
      affected_apps: ${{ steps.get.outputs.apps }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: yarn install
         | yarn -s node -p "require.resolve('@nx/cypress/package.json')"


        # yarn nx show projects --affected --base=$BASE_SHA --head=$HEAD_SHA git diff 범위로 영향을 받는 앱 이름 출력
        # tr -d '\r' | tr ' ' '\n' 줄바꿈문자 제거, 공백은 줄바꿈으로 (1줄당 앱1개)
        # grep -E "^(neubie-go|neubie-order|neubie-order-admin)$" 3개 앱이름과 일치하는 줄만 남김
        # paste -sd ',' - 여러줄이라면 콤마로 붙임
      - name: Get affected apps
        id: get
        shell: bash
        run: |
          set -euo pipefail
          set -x

          BASE_SHA="${{ github.event.pull_request.base.sha }}"
          HEAD_SHA="${{ github.event.pull_request.head.sha }}"

          echo "Comparing from $BASE_SHA to $HEAD_SHA"

          # Nx 결과를 먼저 확보 (여기서 실패하면 진짜 실패)
          raw="$(yarn -s nx show projects --affected --base="$BASE_SHA" --head="$HEAD_SHA")"
          echo "nx_raw=$raw"

          # 필터링: 매칭 0개여도 정상 처리
          apps="$(
            printf "%s\n" "$raw" \
              | tr -d '\r' \
              | tr ' ' '\n' \
              | grep -E "^(neubie-go|neubie-order|neubie-order-admin)$" \
              | paste -sd ',' - \
              || true
          )"

          echo "affected(filtered)=$apps"

          if [ -z "$apps" ]; then
            echo "apps=" >> "$GITHUB_OUTPUT"
          else
            echo "apps=,$apps," >> "$GITHUB_OUTPUT"
          fi

  build:
    needs: detect-affected
    runs-on: ubuntu-latest
    if: ${{ needs.detect-affected.outputs.affected_apps != '' }} #하나라도 앱이 존재해야 실행
    strategy:
      matrix:
        app: [neubie-go, neubie-order, neubie-order-admin] #병렬 실행
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run build steps if app is affected
        if: contains(needs.detect-affected.outputs.affected_apps, matrix.app) #affected_app에 matrix.app이 존재하면 해당 앱만 빌드
        run: |
          echo "Running steps for affected app: ${{ matrix.app }}"
          yarn install
          yarn nx build ${{ matrix.app }}
