name: Selective Build

on:
  pull_request:
    branches:
      - main
      - dev
      - staging

env:
  NEXT_TELEMETRY_DISABLED: "1"

jobs:
  detect-changed-apps:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.find-apps.outputs.matrix }}
      has-changes: ${{ steps.find-apps.outputs.has-changes }}

    steps:
      - name: Find changed apps
        id: find-apps
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          repo='${{ github.repository }}'
          pr_number='${{ github.event.pull_request.number }}'

          # gh api "repos/$repo/pulls/$pr_number/files" pr에 변경된 파일 목록 가져오기 (--paginate 전체 페이지)
          # --jq '.[].filename' jq 사용하여 filename 필드만 한줄씩 출력
          # | grep '^apps/' "apps/"로 시작하는 경로만 필터링
          # cut -d'/' -f2 구분자 "/"로 분리 후, 두번쨰 필드 추출
          # sort -u 정렬 후 중복제거
          # jq -Rc '.' 각 줄을 JSON 문자열로 변경
          # jq -sc '.' 생성된 여러 JSON을 배열화
          changed_apps=$(gh api "repos/$repo/pulls/$pr/files" --paginate --jq '.[].filename' \
          | grep '^apps/' \
          | cut -d'/' -f2 \
          | sort -u \
          | jq -Rc '.' \
          | jq -sc '.')

          if [ "$changed_apps" = "[]" ]; then
            echo "has-changes=false" >> "$GITHUB_OUTPUT"
          else
            echo "has-changes=true" >> "$GITHUB_OUTPUT"
            echo "matrix={\"app\":$changed_apps}" >> "$GITHUB_OUTPUT"
          fi

  build:
    needs: detect-changed-apps
    runs-on: ubuntu-latest
    if: needs.detect-changed-apps.outputs.has-changes == 'true'
    # 해당 job을 어떻게 실행할 것인지 정의
    strategy:
      # 메트릭스중 하나가 실패하더라도 디른건 계속 진행
      fail-fast: false
      # 각 메트릭스 항목만큼 실행
      matrix: ${{ fromJson(needs.detect-changed-apps.outputs.matrix) }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          cache: 'yarn'

      - name: Install dependencies
        # yarn.lock 파일 수정하지 않도록
        run: yarn install --frozen-lockfile

      - name: Build app
        run: yarn nx build ${{ matrix.app }}
