name: Selective Build

on:
  pull_request:
    branches:
      - main
      - dev
      - staging

env:
  NEXT_TELEMETRY_DISABLED: '1'

jobs:
  detect-affected:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    outputs:
      affected_apps: ${{ steps.get.outputs.apps }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Detect affected apps from PR files
        id: get
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          set -euo pipefail

          PR_NUMBER="${{ github.event.pull_request.number }}"
          REPO="${{ github.repository }}"

          files="$(gh api "repos/$REPO/pulls/$PR_NUMBER/files" --paginate --jq '.[].filename')"

          apps=""
          while IFS= read -r f; do
            case "$f" in
              apps/neubie-go/*)          apps="$apps neubie-go" ;;
              apps/neubie-order/*)       apps="$apps neubie-order" ;;
              apps/neubie-order-admin/*) apps="$apps neubie-order-admin" ;;
            esac
          done <<< "$files"

          # 중복 제거 + csv
          apps="$(printf '%s\n' $apps | awk 'NF && !seen[$0]++' | paste -sd ',' -)"

          echo "affected(mapped)=$apps"

          if [ -z "$apps" ]; then
          echo "apps=" >> "$GITHUB_OUTPUT"
          else
          echo "apps=,$apps," >> "$GITHUB_OUTPUT"
          fi

  build:
    needs: detect-affected
    runs-on: ubuntu-latest
    if: ${{ needs.detect-affected.outputs.affected_apps != '' }} #하나라도 앱이 존재해야 실행
    strategy:
      matrix:
        app: [neubie-go, neubie-order, neubie-order-admin] #병렬 실행
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run build steps if app is affected
        if: contains(needs.detect-affected.outputs.affected_apps, format(',{0},', matrix.app))
        #affected_app에 matrix.app이 존재하면 해당 앱만 빌드
        run: |
          echo "Running steps for affected app: ${{ matrix.app }}"
          yarn install
          yarn nx build ${{ matrix.app }}
