name: Selective Build

on:
  pull_request:
    branches:
      - main
      - dev
      - staging

env:
  NEXT_TELEMETRY_DISABLED: "1"

jobs:
  detect-affected:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    outputs:
      build_matrix: ${{ steps.detect.outputs.build_matrix }}

    steps:
      - name: Detect changed apps and create build matrix
        id: detect
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          set -euo pipefail

          # pr번호
          pr='${{ github.event.pull_request.number }}'
          # repo 전체 이름
          repo='${{ github.repository }}'

          # gh api "repos/$repo/pulls/$pr/files" pr에 변경된 파일 목록 가져오기
          # --paginate gh api 응답양이 많아도 전체 가져오기
          # --jq jq필터 적용하기
          # .[].filename ".[]" 배열의 각요소를 각각 꺼낸다 + ".filename" 필드만
          # select(startswith("apps/")) "apps/"로 시작하는 경로만
          # split("/")[1] "apps/{app}/" 에서 실제 앱 이름 app만
          # unique 중복제거
          # | jq -c . "-c" 한줄로 + "." 그대로 출력
          gh api "repos/$repo/pulls/$pr/files" --paginate
          apps_json="$(
            gh api "repos/$repo/pulls/$pr/files" --paginate --jq '
              [.[].filename
                | select(startswith("apps/"))
                | split("/")[1]
              ] | unique
            ' | jq -c .
          )"

          # jq -cn "-c" 한줄로 출력 + "-n" 새로운 json
          # --argjson apps "$apps_json" apps 라는 jq변수에 apps_json이란 값을 json으로 넣는다
          # {app:$apps} 같은 형태의 객체 생성
          # >> "$GITHUB_OUTPUT" build_matrix에 해당 객체를 주입
          echo "build_matrix=$(jq -cn --argjson apps "$apps_json" '{app:$apps}')" >> "$GITHUB_OUTPUT"

  build:
    needs: detect-affected
    runs-on: ubuntu-latest
    if: ${{ needs.detect-affected.outputs.build_matrix != '{"app":[]}' }}
    # 해당 job을 어떻게 실행할 것인지 정의
    strategy:
      # 메트릭스중 하나가 실패하더라도 디른건 계속 진행
      fail-fast: false
      # 각 메트릭스 항목만큼 실행
      matrix: ${{ fromJson(needs.detect-affected.outputs.build_matrix) }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Reset Nx cache
        run: yarn nx reset

      - name: Build app
        run: yarn nx build ${{ matrix.app }}
